cff-version: 1.2.0
message: "If you use this software, please cite it as below."
type: software
# TODO @{{github_user}}: verify the author name split below. given-names and
# family-names are guessed from author_full_name (everything before the final
# space vs. the final word) and may be wrong for compound surnames such as
# "van der Berg" or for "Last, First" ordering.
authors:
{%- if author_full_name.split(' ')[:-1] %}
  - given-names: "{{ author_full_name.split(' ')[:-1] | join(' ') }}"
    family-names: "{{ author_full_name.split(' ')[-1] }}"
{%- else %}
  - family-names: "{{ author_full_name }}"
{%- endif %}
    email: "{{author_email}}"
title: "{{github_repo_name}}"
abstract: "{{short_description}}"
repository-code: "https://github.com/{{github_user}}/{{github_repo_name}}"
license: MIT
