cff-version: 1.2.0
message: "If you use this software, please cite it as below."
type: software
authors:
  - family-names: "{{author_full_name.split(' ')[-1]}}"
    given-names: "{{author_full_name.split(' ')[0]}}"
    email: "{{author_email}}"
title: "{{github_repo_name}}"
abstract: "{{short_description}}"
repository-code: "https://github.com/{{github_user}}/{{github_repo_name}}"
license: MIT
preferred-citation:
  type: software
  authors:
    - family-names: "{{author_full_name.split(' ')[-1]}}"
      given-names: "{{author_full_name.split(' ')[0]}}"
      email: "{{author_email}}"
  title: "{{github_repo_name}}"
  abstract: "{{short_description}}"
  repository-code: "https://github.com/{{github_user}}/{{github_repo_name}}"
  license: MIT
