"""Smoke tests for {{github_repo_name}} package."""


def test_smoke() -> None:
    """Test that the package can be imported."""
    import {{github_repo_name}}  # noqa: PLC0415

    assert {{github_repo_name}} is not None
