Installation
============
{% if is_app %}
``{{github_repo_name}}`` is an end-user application, not a library, so install
it as a standalone tool rather than as a project dependency. Its primary entry
point is the ``{{github_repo_name}}`` command.

Stable release
--------------

Install ``{{github_repo_name}}`` into an isolated environment with your
preferred tool installer:

.. code-block:: sh

   uv tool install {{github_repo_name}}

.. code-block:: sh

   pipx install {{github_repo_name}}

Or run it without installing:

.. code-block:: sh

   uvx {{github_repo_name}}
{% if include_homebrew %}
Homebrew (macOS/Linux):

.. code-block:: sh

    brew install {{github_user}}/tap/{{github_repo_name}}
{% endif -%}
{% if include_scoop %}
Scoop (Windows):

.. code-block:: sh

    scoop bucket add {{github_user}} https://github.com/{{github_user}}/scoop-bucket
    scoop install {{github_user}}/{{github_repo_name}}
{% endif -%}
{% else %}
``{{github_repo_name}}`` is a library. Add it to your project as a dependency.

Stable release
--------------

To add ``{{github_repo_name}}`` to your project, run this command in your
terminal:

.. code-block:: sh

   uv add {{github_repo_name}}

Or if you prefer to use ``pip``:

.. code-block:: sh

   pip install {{github_repo_name}}
{% endif %}
From source
-----------

The source files for ``{{github_repo_name}}`` can be downloaded from the
`GitHub repo <https://github.com/{{github_user}}/{{github_repo_name}}>`_.

You can either clone the public repository:

.. code-block:: sh

   git clone https://github.com/{{github_user}}/{{github_repo_name}}.git

Or download the
`tarball <https://github.com/{{github_user}}/{{github_repo_name}}/tarball/main>`_:

.. code-block:: sh

   mkdir {{github_repo_name}}
   curl -fL https://github.com/{{github_user}}/{{github_repo_name}}/tarball/main | tar -xz --strip-components=1 -C {{github_repo_name}}

Once you have a copy of the source, you can install it with:

.. code-block:: sh

   cd {{github_repo_name}}
{%- if is_app %}
   uv tool install .
{%- else %}
   uv pip install .
{%- endif %}
