Installation
============

Stable release
--------------

To install ``{{github_repo_name}}``, run this command in your terminal:

.. code-block:: sh

   uv add {{github_repo_name}}

Or if you prefer to use ``pip``:

.. code-block:: sh

   pip install {{github_repo_name}}

From source
-----------

The source files for ``{{github_repo_name}}`` can be downloaded from the
`GitHub repo <https://github.com/{{github_user}}/{{github_repo_name}}>`_.

You can either clone the public repository:

.. code-block:: sh

   git clone https://github.com/{{github_user}}/{{github_repo_name}}.git

Or download the
`tarball <https://github.com/{{github_user}}/{{github_repo_name}}/tarball/main>`_:

.. code-block:: sh

   mkdir {{github_repo_name}}
   curl -fL https://github.com/{{github_user}}/{{github_repo_name}}/tarball/main | tar -xz --strip-components=1 -C {{github_repo_name}}

Once you have a copy of the source, you can install it with:

.. code-block:: sh

   cd {{github_repo_name}}
   uv pip install .
