# Usage

## As a library

To use {{github_repo_name}} in a project:

```python
import {{github_repo_name}}
```

{% if include_cli %}
## As a command-line tool

To use {{github_repo_name}} as a command-line tool:

```bash
{{github_repo_name}}
```
{% endif %}
{% if include_web %}
## As a web application

To use {{github_repo_name}} as a web application:

```bash
{{github_repo_name}} web
```
{% endif %}
{% if include_gui %}
## As a GUI application

To use {{github_repo_name}} as a GUI application:

```bash
{{github_repo_name}} gui
```
{% endif %}
{% if include_tui %}
## As a TUI

To use {{github_repo_name}} as a TUI application:

```bash
{{github_repo_name}} interactive
```
{% endif %}
