Welcome to {{github_repo_name}}'s documentation!
{{ '=' * (github_repo_name | length + 28) }}

{{short_description}}

.. toctree::
   :maxdepth: 2
   :caption: Contents

   installation
   usage
{%- if include_cli and cli_framework == "typer" %}
   cli-reference
{%- endif %}
   modules
{%- if include_pydantic_settings %}
   configuration
{%- endif %}
{%- if include_web %}
   web-interface
{%- endif %}
{%- if include_worker %}
   worker-interface
{%- endif %}

.. toctree::
   :maxdepth: 2
   :caption: Maintainer guide

   maintaining/setup

Indices and tables
==================

* :ref:`genindex`
* :ref:`modindex`
* :ref:`search`
