# Cython header file for {{github_repo_name}}
# This file declares C functions, structs, and enums that can be used in .pyx files

# Example C function declarations:
# cdef extern from "example.h":
#     int example_function(int x)
#     struct ExampleStruct:
#         int field1
#         double field2

# If you don't need to interface with external C code, you can delete this file
